/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Jun 27, 2014, 5:37:49 PM
    Author     : LAPTOPPT
*/

#root {
    -fx-background-image: url("pattern.png");
}

.Title{
    -fx-font: 22px "BebasNeue";
}

.SubTitle{
    -fx-font: 14px "BebasNeue";
}

.InfoText{
    -fx-font: 17px "BebasNeue";    
}

.TabTitle{
    
}

.ButtonText{
    -fx-font: 14px "BebasNeue";    
}

.MenuBar{
    -fx-font: 13px "BebasNeue";    
}

.ConsoleText{
    -fx-font: 13px "BebasNeue";    
}

#logo{
    -fx-background-image: url("Icon.png");
    -fx-background-size: 100px;
}

.wrong-textfield{
    -fx-border-color: red;
    -fx-border-width: 1px;
    -fx-border-radius: 4;
}